@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: inherit;
}

/* Main Page Layout */

body {
    font-family: 'ABeeZee', sans-serif;
    font-weight: 300;
    color: white;
    background-color: black;
}

.rules{
    float: right;
    position: relative;
    top: 15%;
    clear: both;
}

.player {
    padding: 40px;
    align-items: center;
    height: auto;
}

.active-player {
    background-color: rgba(255, 0, 0, 0.35);
}

.active-player .name {
    color: pink;
}

.active-player .score {
    color: pink;
}

.name {
    text-align: center;
    font-size: 4rem;
    letter-spacing: 1px;
    margin-bottom: 3rem;
}

.score {
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: center;
}

.total {
    font-size: 2rem;
    margin-bottom: auto;
    text-align: center;
}

.controls {
    height: 300px;
    align-items: center;
}

/* Controls Styling */

.button {
    position: absolute;
    color: slategray;
    font-size: small;
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    align-items: center;
}

.button-new {
    top: 30rem;
}

.button-roll {
    top: 35rem;
}

.button-bank {
    top: 40rem;
}

.dice {
    visibility: hidden;
}