@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

/* Main Page Layout */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: inherit;
}

body {
    font-family: 'ABeeZee', sans-serif;
    color: white;
    background: url("../images/background-image.jpg") center;
    width: 100%;
    height: 93.4vh;
    overflow: hidden;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.40);
    border-radius: 10px;
    display: flex;
}

/* Rules Modal Window */
/* Credit to Jonas Schmedmann and the course "The Complete Javascript Course 2022: 
From Zero to Expert", Modal Window Section for Code used to create and style the 
"rules" modal window */

.show-rules {
    top: 350px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.close-rules {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

.hide {
    display: none;
}

.rules-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.rules {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    z-index: 2;
}

.rules h1 {
    color: black;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

.rules p {
    color: black;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.rules li {
    color: black;
    padding: 10px;
    font-size: 1rem;
}

/* Game Elements */

.player {
    padding: 40px;
    align-items: center;
    flex: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name {
    position: relative;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 1px;
    margin-top: 7rem;
    margin-bottom: 3rem;
}

.score {
    font-size: 1.5rem;
    margin-bottom: 30px;
    text-align: center;
}

.total {
    font-size: 1.5rem;
    margin-bottom: auto;
    text-align: center;
}

.active-player {
    background-color: rgba(255, 0, 0, 0.35);
}

/* Controls and Dice Styling */

.button {
    color: #444;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    background-color: white;
    padding: 7px 15px;
    border-radius: 50px;
}

.button-new {
    top: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.controls {
    background-color: #444;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 15px;
}

.controls h3 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.controls button {
    margin-bottom: 5px;
}

.dice {
    position: absolute;
    left: 50%;
    top: 12.5rem;
    transform: translateX(-50%);
    height: 7.5rem;
}

/* Media Queries for responsiveness */

/* Media Queries for screens smaller than 680px */

@media screen and (max-width: 680px) {
    html {
        font-size: 10px;
    }

    main {
        height: 35rem;
    }

    .button {
        font-size: 10px;
        padding: 3px 8px;
    }

    .button-new {
        top: 120px;
    }

    .dice {
        height: 5rem;
        top: 160px;
    }

    .show-rules {
        top: 225px;
    }
}

/* Media Queries for screens smaller than 330px */

@media screen and (max-width: 330px) {
    html {
        font-size: 8px;
    }

    main {
        height: 35rem;
    }

    .button {
        font-size: 7.5px;
        padding: 2px 6px;
    }

    .button-new {
        top: 100px;
    }

    .dice {
        height: 5rem;
        top: 130px;
    }

    .show-rules {
        top: 185px;
    }
}